.giveaway-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.giveaway-form-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.giveaway-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.auth-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-button.instagram {
    background-color: #405de6;
    color: #fff;
}

.auth-button.youtube {
    background-color: #ff0000;
    color: #fff;
}

.auth-button.tiktok {
    background-color: #000;
    color: #fff;
}

.form-submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit-btn:hover {
    background-color: #0056b3;
}
