
.form_name{
  color: black;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px 0 5px 10px;
}

form{
  margin: 10px;
}

.error{
  color: red;
  background-color: #fad7d7;
  padding: 5px;
  border-radius: 5px;
}

.contact{
  margin-left: 15px;
}

.fullName{
  font-weight: bold;
  font-size: 30px;
}

.profileData{

  font-weight: bold;
  font-size: 20px;
}