nav{
  grid-area: nav ;
  background-color: rgb(224, 224, 224);
  padding: 20px 0;
}
.menu a{
  width: 100%;
  height: 100%;
  /*background-color: cyan;*/
  display: block;
  margin: 2px 0;
  padding-left: 15px;
  color: #cc55ff;
}

.menu a:hover{
  background-color: cyan;
  color: black;
}