/*
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
ul li{
  color: #cc55ff;
}

body{
  padding: 10px;
  background-color: aquamarine;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-wrapper{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 200px auto auto;
  grid-template-areas: 
  'header header' 
  'nav main' 
  'footer footer';
  width: 80%;
  margin: 0 auto;
}







